:root {
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
--black:#000000 ; 
}

* {
  background-color: var(--Very-Light-Gray);
    text-decoration: none;  
}

.section_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_1_1{
  font-size: 34px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  opacity: .3;
}

.section_1_2{
  margin-bottom: 15px;
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  opacity: .9;
}

.section_1_3{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  opacity: .3;
  text-align: center;
  width: 40%;
}

img {
  width: 70px;
  align-self: flex-end;
  background-color: inherit;
  margin: 0 20px;
}

div {
  background-color: inherit;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
}

.section_2_1 ,
.section_2_2 ,
.section_2_3 ,
.section_2_4{
  background-color:white;
  min-width: 319px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: 5px 5px 10px rgba(100, 100, 99, 0.308) ;
  transition-duration: 700ms;
  border-radius: 5px;
}

.section_2_1 {
  border-top: 3px solid var(--Cyan);
}

.section_2_1 ::selection{
  background-color: var(--Cyan) ;
  color: var(--black);
}

.section_2_1:hover {
  box-shadow: 5px 5px 10px var(--Cyan) ;
  border-left: 1px solid var(--Cyan);
  border-radius: 10px;
}

.section_2_2 {
  border-top: 3px solid var(--Red);
}

.section_2_2 ::selection {
  background-color: var(--Red) ;
  color: var(--black);
}

.section_2_2:hover {
  box-shadow: 5px 5px 10px var(--Red) ;
  border-left: 1px solid var(--Red);
  border-radius: 10px;
}

.section_2_3 {
  border-top: 3px solid var(--Orange);
}

.section_2_3 ::selection{
  background-color: var(--Orange) ;
  color: var(--black);
}

.section_2_3:hover {
  box-shadow: 5px 5px 10px var(--Orange) ;
  border-left: 1px solid var(--Orange);
  border-radius: 10px;
}

.section_2_4 {
  border-top: 3px solid var(--Blue);
}

.section_2_4 ::selection{
  background-color: var(--Blue) ;
  color: var(--black);
}

.section_2_4:hover {
  box-shadow: 5px 5px 10px var(--Blue) ;
  border-left: 1px solid var(--Blue);
  border-radius: 10px;
}

.div_1_section_2 ,
.div_3_section_2 ,
.div_5_section_2 ,
.div_7_section_2 {
font-family: 'Poppins', sans-serif;
  font-weight: bold ;
  margin: 20px 0 0 20px; 
  color: var(--Very-Dark-Blue);
}

.div_2_section_2 ,
.div_4_section_2 ,
.div_6_section_2 ,
.div_8_section_2 {
  margin: 0 20px;
  font-weight: bold;
  color: var(--Grayish-Blue);
}

@media (min-width:376px)  { /*disctop*/
.section_2{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 40px auto;
  }

.section_2_3 {
  margin-top: 30px;
  }
}

@media (max-width:375px){ /*mobile*/
  .section_1_1,.section_1_2{
    min-width: fit-content;
    font-size: 25px ;
  }
  .section_1_3{
    width: 90%;
    margin-bottom: 30px;
  }
  .section_2_1,
  .section_2_2,
  .section_2_3,
  .section_2_4 {
    margin-top: 20px;
  }
}

.title {
  transition-duration: .1s;
  font-size: 40px;
  text-align: center;
  width: fit-content;
  margin: 20px auto ;
  font-weight: bold;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  color: var(--Dark-blue);
}

.title:hover{
  text-shadow: 1px 0px 90px var(--Blue);
  border-radius: 10px;
}

.div_1 {
  position: relative;
  max-width: 55%;
  min-width: 300px;
  height: 1.5px;
  background-color: var(--Blue);
  margin: 0 auto 40px auto;
  opacity: .5;
  box-shadow: 0px 0px 15px var(--Cyan);
}

/****************************** footer style *********************************/
:root{
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Dark-blue: hsl(218, 44%, 22%);
  --new-color:  rgb(8, 8, 211);
  }
  

.button_1 {
  transition-duration: .3s;
  border: 1px solid rgb(4, 4, 61);
  border-radius: 10px;
  width: fit-content;
  background-color: var(--new-color);
  color: var(--White);
  font-weight: bold;
  margin-right: 20px;
}

.button_1:hover{
  color: var(--new-color);
  background-color: var(--Light-gray);
  border: none;
  font-size: 18px;
  text-shadow: 1px 1px 10px rgb(89, 89, 230);
}

.div_2 {
  max-width: 55%;
  min-width: 300px;
  height: 1.5px;
  background-color: var(--Dark-blue);
  margin: 40px auto 0 auto;
  opacity: .5;
}

.div_3 {
  margin: 0 auto 0 auto ;;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  font-weight: bold;
  margin-top: 20px;
  color: var(--Dark-blue);
}


